/* declare theme colors as vars */
:root {
  --skyblue: whitesmoke;
  --slategray: rgb(38, 46, 71);
  --powderblue: rgb(61, 74, 112);
}

a {
  color: black;
}

a:hover {
  color: #FF9800 !important;
}

ul a:hover {
  color: inherit !important;
  font-weight: bold;
}

body {
  color: black;
  background-color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, Helvetica, sans-serif;
}

header {
  background-color: whitesmoke;
  padding-left: 6vw;
  float: left;
}

/* my name */
h1 {
  color: black;
  position: relative;
  font-size: 3rem;
  right: 30px;
  margin: 0;
}

/* section headings */
h2 {
  font-size: 5vh;
  position: relative;
  right:10vw;
  border-right: solid;
  text-align: right;
  padding: 5px;
  box-sizing: border-box;
}

/* card titles */
h3 {
  color: black;
  font-size: 4vh;
  background-color: var(--skyblue);
  position: absolute;
  bottom: 6vh;
  left: 1vw;
}

h4 {
  color: black;
  font-size: 3vh;
  background-color: var(--skyblue);
  position: absolute;
  bottom: 0;
  left: 1vw;
}

/* descriptive text */
p {
  font-size: 3vh;
  color: black;
  position: relative;
  line-height: 1.2em;
}

li {
  margin: 0 2vw;
  font-size: larger;
}

/* nav bar  */
nav {
  color: black;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--slategray);
  height: 15vh;
  width: 100vw;
  z-index: 1;
}

nav ul {
  background-color: transparent;
  font-size: larger;
  padding: 8px;
  list-style: none;
}

/* contains page elements on white background */
main {
  display: flex;
  align-self: end;
  align-items: flex-end;
  flex-direction: column;
  object-fit: contain;
  flex-wrap: wrap;
  padding: 2vw;
}

section {
  display: flex;
  width: 75vw;
}

.main {
  position: relative;
  padding: 0;
}

.item {
  position: relative;
  padding: 0;
  /* display: flex; */
  width: 50%;
}

.contact {
  display: flex;
  list-style: none;
  align-self: center;
}

.work {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.work img {
  border: gray;
  border-style: solid;
  border-width: 5px;
  align-items: flex-start;
  opacity: 0.5;
  transition-duration: 1s;
  aspect-ratio: 1;
  object-fit: cover;
  }

.work img:hover {
  opacity: 1;
}

.small {
  width: 100%;
}

#content {
  margin-right: 17vw;
}

#cover {
  background-size: cover;
  width: 100vw;
}

#hero {
  width: 100%;
}

#portrait {
  align-self: center;
  margin-right: 5vw;
}

@media screen and (max-width: 720px) {
  .item, .main {
    width: 100%;
  }

  h1 {
    font-size: 8vw;
  }

  h2 {
    border-right: none;
    border-bottom: solid;
    align-self: center;
    right: 0;
  }

  nav {
    height: 20vh;
  }

  section, .work, .contact {
    flex-direction: column;
  }

  #portrait {
    display: block;
  }

}
